---
/**
 * Logo 组件
 */
const { isHome } = Astro.props;
---

<a
  href="/"
  class="text-xl font-bold cursor-pointer text-primary-600 dark:text-primary-400 transition-colors hover:opacity-80"
>
  NostrZH
</a>
