---
/**
 * Header 组件 - 网站头部导航
 */
import DesktopNav from "./header/DesktopNav.astro";
import Logo from "./header/Logo.astro";
import MobileMenuButton from "./header/MobileMenuButton.astro";
import MobileNav from "./header/MobileNav.astro";

const isHome = Astro.url.pathname === "/";
---

<header class="fixed top-0 left-0 right-0 z-50 glass border-b border-border">
  <div class="max-w-6xl mx-auto px-6 py-4 flex items-center justify-between">
    <Logo isHome={isHome} />
    <DesktopNav isHome={isHome} />
    <MobileMenuButton />
  </div>
  <MobileNav isHome={isHome} />
</header>
